/sum_from_1_to_n/nbproject/private/
/sum_from_1_to_n/build/
/GCD/nbproject/private/
/GCD/build/
/Gravity_Flip/nbproject/private/
/Gravity_Flip/build/
/name/nbproject/private/
/JavaApplication57/nbproject/private/